FontIcon {
    -fx-icon-color: white;
}

.styledButton {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.menuButton {
    -fx-background-color: #249beb;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-padding: 10px;
    -fx-border-insets: 4px;
    -fx-background-insets: 4px;
}
.submitButton {
    -fx-background-color: #59e373;
}
.cancelButton {
    -fx-background-color: #f21010;
}

.gamemodeButton {
    -fx-background-color: #63DBCB;
    -fx-background-radius: 3;
}
.gamemodeButton FontIcon {
    -fx-icon-color: black;
    -fx-icon-size: 20;
}

.gameControlButtons {
    -fx-background-color: #f03246;
    -fx-text-fill: white;
}
.gameControlButtons FontIcon {
    -fx-icon-color: white;
    -fx-icon-size: 14;
}

.play-font-icon FontIcon {
    -fx-icon-code: "cil-media-play";
    -fx-icon-size: 20;
}
.author-info-links FontIcon {
    -fx-icon-color: black;
    -fx-icon-size: 24;
}
